.grid {
    display: grid;
    grid-template-columns: 65px 200px 120px;
    grid-row-gap: 10px;
    grid-column-gap: 35px;
}

.hint {
    background: #d45252;
    width: 130px;
    padding-left: 10px;
    color: white;
    margin: auto;
    line-height: 20px;
    height: 20px;
}

.hintArrow {
    width: 0;
    height: 0;
    margin-top: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #d45252;
}

.hintC  {
    display: none;
    height: 100%;
    grid-template-columns: 5px 130px;
}

.input {
    height: 25px;
    border-radius: 5px;
    border: grey 1px solid;
    text-indent: 10px;
}
.input::placeholder {
    color: #c9c9c9;
}

#email:focus ~ .hintContainer #emailHint{
    display: grid;
}

#website:focus ~ .hintContainer #websiteHint{
    display: grid;
}

#message {
    height: 75px;
    resize: none;
}

.submit{
    height: 25px;
    border-radius: 5px;
    border: grey 1px solid;
}